#Info {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

#Info tbody {
  display: block;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#Info tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
  display: table;
  width: 100%;
  table-layout: fixed;
}

#Info th,
#Info td {
  padding: 0.625em;
  text-align: center;
}

#Info th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.tasks {
  margin: 15px;
}

.tasks button,
.next-btn {
  padding: 15px;
  margin: 20px;
  color: #fff !important;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}
.tasks button:hover,
.next-btn:hover {
  box-shadow: 8px 1px 12px 0px rgba(0, 0, 0, 0.31);
}
.table-filter {
  padding: 10px;
  font-size: 16px;
}
